@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body {
  margin: 0;
  font-family: "Inter var", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer utilities {
  .full-screen {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
}

.pixel-btn {
  font-size: 1.2em;
  font-family: "Press Start 2P", cursive;
  width: 200px;
  height: 70px;
  background: #06c1de;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
}

.pixel-btn:hover {
  cursor: pointer;
  background-color: #06b6d1;
}

.pixel-btn:active {
  top: 5px;
  box-shadow: -4px 2px 1px 1px grey, -4px -2px 1px 1px lightgray,
    4px 0px 1px 1px lightgray;
}

.pixel-btn::after {
  content: "";
  background: black;
  position: absolute;
  left: -2.5%;
  top: 0;
  width: 105%;
  height: 100%;
  z-index: -1;
}

.pixel-btn::before {
  content: "";
  background: black;
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 113%;
  z-index: -1;
}

.pixel-font {
  font-family: "Press Start 2P", cursive;
}

.pixelated {
  image-rendering: pixelated;
}

/* character style templates */

.characterContainer {
  position: relative;
  width: calc(32px * 6);
  height: calc(32px * 6);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.characterContainer:hover {
  background-color: aliceblue;
}

.body {
  width: 32px;
  height: 32px;
  transform: scale(6);
  background-image: url("./components/design-character/character-sprites/char1.png");
  background-position: -256px 0px;
  position: absolute;
  image-rendering: pixelated;
}

.gentlemanHair-blond {
  width: 32px;
  height: 32px;
  background-image: url("./components/design-character/character-sprites/gentleman-hair.png");
  background-position: -256px 0px;
  position: absolute;
}

.tshirt-gray {
  width: 32px;
  height: 32px;
  background-image: url("./components/design-character/character-sprites/basic-clothes.png");
  position: absolute;
}

.tshirt-dark-blue {
  width: 32px;
  height: 32px;
  background-image: url("./components/design-character/character-sprites/basic-clothes.png");
  position: absolute;
  background-position: calc(-32 * 8px) 0px;
}

.tshirt-light-blue {
  width: 32px;
  height: 32px;
  background-image: url("./components/design-character/character-sprites/basic-clothes.png");
  position: absolute;
  background-position: calc(-32 * 20px) 0px;
}

.tshirt-brown {
  width: 32px;
  height: 32px;
  background-image: url("./components/design-character/character-sprites/basic-clothes.png");
  position: absolute;
  background-position: calc(-32 * 24px) 0px;
}

.tshirt-green {
  width: 32px;
  height: 32px;
  background-image: url("./components/design-character/character-sprites/basic-clothes.png");
  position: absolute;
  background-position: calc(-32 * 32px) 0px;
}

.pants-blue {
  width: 32px;
  height: 32px;
  background-image: url("./components/design-character/character-sprites/pants.png");
  background-position: -512px 0px;
  position: absolute;
}

.shoes-navy {
  width: 32px;
  height: 32px;
  background-image: url("./components/design-character/character-sprites/shoes.png");
  background-position: -512px 0px;
  position: absolute;
}

.tshirt-green-flower {
  width: 32px;
  height: 32px;
  background-image: url("./components/design-character/character-sprites/floral.png");
  background-position: -1024px 0px;
  position: absolute;
}

.pants-pink {
  width: 32px;
  height: 32px;
  background-image: url("./components/design-character/character-sprites/pants.png");
  background-position: -1536px 0px;
  position: absolute;
}

.hair-emo {
  width: 32px;
  height: 32px;
  background-image: url("./components/design-character/character-sprites/emo.png");
  position: absolute;
}

.shoes-green {
  width: 32px;
  height: 32px;
  background-image: url("./components/design-character/character-sprites/shoes.png");
  background-position: -1280px 0px;
  position: absolute;
}

.vest {
  width: 32px;
  height: 32px;
  background-image: url("./components/design-character/character-sprites/spaghetti.png");
  background-position: -1536px 0px;
  position: absolute;
}

.skirt {
  width: 32px;
  height: 32px;
  background-image: url("./components/design-character/character-sprites/skirt.png");
  background-position: -1536px 0px;
  position: absolute;
}

.hair-long-blonde {
  width: 32px;
  height: 32px;
  background-image: url("./components/design-character/character-sprites/wavy.png");
  background-position: -768px 0px;
  position: absolute;
}

.shoes-purple {
  width: 32px;
  height: 32px;
  background-image: url("./components/design-character/character-sprites/shoes.png");
  background-position: -1536px 0px;
  position: absolute;
}

/* bedroom components */

.pixelated {
  image-rendering: pixelated;
}

.wardrobe {
  background-image: url("../public/img/wardrobepng.png");
  width: 63px;
  height: 46px;
  overflow: hidden;
  transform: scale(3);
}

.wardrobe:hover {
  background-image: url("../public/img/wardrobepng.png");
  width: 63px;
  height: 46px;
  overflow: hidden;
  transform: scale(3.2);
  cursor: pointer;
}

.study-desk {
  background-image: url("../public/img/deskpng.png");
  width: 30px;
  height: 40px;
  transform: scale(3);
}

.study-desk:hover {
  background-image: url("../public/img/deskpng.png");
  width: 30px;
  height: 40px;
  transform: scale(3.2);
  cursor: pointer;
}

.bookshelf {
  background-image: url("../public/img/bookshelfpng.png");
  width: 39px;
  height: 44px;
  transform: scale(3);
}

.bookshelf:hover {
  background-image: url("../public/img/bookshelfpng.png");
  width: 39px;
  height: 44px;
  transform: scale(3.2);
  cursor: pointer;
}

.shop {
  background-image: url("../public/img/shop.png");
  width: 29px;
  height: 49px;
  transform: scale(3);
}

.shop:hover {
  background-image: url("../public/img/shop.png");
  width: 29px;
  height: 49px;
  transform: scale(3.2);
  cursor: pointer;
}

.text-tag {
  font-size: 3.5px;
  /* font-weight: 700; */
  font-family: "Press Start 2P", cursive;
}

.font-email {
  font-size: 10px;
  font-family: "Press Start 2P", cursive;
}

/* bedroom grid */
.bedroom-grid {
  display: grid;
  grid-template-areas:
    "one one two three four five"
    "five"
    "five"
    "five";
}

.stat-grid {
  grid-area: one;
}

/* customise character elements */

.top-button {
  background-image: url("../public/img/btn-top.png");
  width: 24px;
  height: 9px;
  image-rendering: pixelated;
  transform: scale(3);
}

.hair-button {
  background-image: url("../public/img/btn-hair.png");
  width: 24px;
  height: 9px;
  image-rendering: pixelated;
  transform: scale(3);
}

.pants-button {
  background-image: url("../public/img/btn-pants.png");
  width: 24px;
  height: 9px;
  image-rendering: pixelated;
  transform: scale(3);
}

.shoes-button {
  background-image: url("../public/img/btn-shoes.png");
  width: 24px;
  height: 9px;
  image-rendering: pixelated;
  transform: scale(3);
}
