@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body {
  margin: 0;
  font-family: "Inter var", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer utilities {
  .full-screen {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
}

.pixel-btn {
  font-size: 1.2em;
  font-family: "Press Start 2P", cursive;
  width: 200px;
  height: 70px;
  background: #06c1de;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
}

.pixel-btn:hover {
  cursor: pointer;
  background-color: #06b6d1;
}

.pixel-btn:active {
  top: 5px;
  box-shadow: -4px 2px 1px 1px grey, -4px -2px 1px 1px lightgray,
    4px 0px 1px 1px lightgray;
}

.pixel-btn::after {
  content: "";
  background: black;
  position: absolute;
  left: -2.5%;
  top: 0;
  width: 105%;
  height: 100%;
  z-index: -1;
}

.pixel-btn::before {
  content: "";
  background: black;
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 113%;
  z-index: -1;
}

/* character style templates */

.whiteBody {
  width: 32px;
  height: 32px;
  background-image: url('./components/design-character/character-sprites/char1.png');
  position: absolute;
  transform: scale(6);
  image-rendering: pixelated;
}

.gentlemanHair {
  width: 32px;
  height: 32px;
  background-image: url('./components/design-character/character-sprites/gentleman-hair.png');
  position: absolute;
}

.tshirt {
  width: 32px;
  height: 32px;
  background-image: url('./components/design-character/character-sprites/basic-clothes.png');
  position: absolute;
}

.pants {
  width: 32px;
  height: 32px;
  background-image: url('./components/design-character/character-sprites/pants.png');
  background-position:  -512px 0px ;
  position: absolute;
}